.blog-home
    width: 100%
    background-image: linear-gradient(to right, $color.secundary, #c83d8c, #ce5198)
    .container
        max-width 100%
        padding: 8em 0 5rem
        background: url(../img/bg-blog-home.png) left bottom no-repeat
        background-size 500px

.grid-blog-home
    width: 102.4rem
    max-width 100%
    display: flex
    justify-content: space-between
    margin 0 auto
    padding-left 10%
    & .left
        flex-basis: 14%
        & h2
            font-size: 5rem
            font-weight: 800
            color: $color.white
        & a
            font-size: 1.4rem
            font-weight: 600
            padding-bottom: 1rem
            color: $color.white
            text-transform: uppercase
            display: inline-block
            position: relative
            margin-top: 2rem
            &:after
                width: 100%
                height 2px
                content: ''
                position: absolute
                bottom: 0
                left: 0
                background: #c4edff
    
    & .right
        flex-basis: 70rem
        +below(1150px)
            flex-basis: 100%