.box-text
    width 70rem
    margin 5rem auto 0
    p
        font-size 1.8rem
        line-height 2
        color: $color.text
        font-family: $font-family.secondary
        max-width 70rem
        margin-top 2rem
        :first-child
            margin-top 2rem
    